<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="panel">

      <div class="text-center">
        <h1>Log In Please :-)</h1>
      </div>

      <% if notice %>
        <div data-alert class="alert-box">
          <%= notice %>
        </div>
      <% end %>

      <hr>

      <%= form_tag login_path do %>

        <%= label_tag :username %>
        <%= text_field_tag :username %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag 'Log In', class: "button" %>

      <% end %>

    </div>
  </div>
</div>
