<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="head">
      <h1>Users</h1>
    </div>
    <div class="new">
      <%= link_to 'Create New User', new_user_path, class: "button right" %>
    </div>

    <hr>

    <% if notice %>
      <div data-alert class="alert-box">
        <%= notice %>
      </div>
    <% end %>

    <table>
      <thead>
        <tr>
          <th width="200px">User Name</th>
          <th width="200px">First Name</th>
          <th width="200px">Last Name</th>
          <th width="200px">Monitor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td> <%= link_to user.username, user_path(user) %></td>
          <td> <%= user.first_name %></td>
          <td> <%= user.last_name %></td>
          <td> <%= user.monitor %></td>
          <td> <%= link_to 'Edit', edit_user_path(user) %></td>
          <td> <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
