<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="panel">

      <div class="text-center">
        <h1>Sign up!</h1>
      </div>

      <% if @user.errors.any? %>
        <div data-alert class="alert-box">
          There were errors on the page:
            <% @user.errors.full_messages.each do |msg| %>
              <li class="errors"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <hr>

      <%= form_for @user do |f| %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password %>

        <%= f.submit class: "button" %>

      <% end %>
    </div>
  </div>
</div>
