<h1> POSTS!!!! </h1>
<br>
<%= link_to 'New Post', new_post_path %>
<br>
<% @posts.each do |post| %>
  <ul> <h4><%= post.title %></h4>
    <%= link_to 'Edit Post', edit_post_path(post) %>
    <% if post.url != nil && post.code != nil%>
      <li><%= post.url %></li>
      <li><%= post.code %></li>
    <% elsif post.url != nil %>
      <li><%= post.url %></li>
    <% else %>
      <li><%= post.code %></li>
    <% end %>
    <li><%= post.description %></li>
    <ul> <h5>Tags</h5>
      <% post.tags.each do |tag| %>
        <li><%= tag.title %></li>
      <% end %>
    </ul>
  </ul>
  <% if user_liked(post) %>
    <%= link_to 'Like Post', post_like_path(post) %>
  <% else %>
    <h6>Liked</h6>
  <% end %>
  <h6><%= post.likes.size %></h6>
  <hr>
<% end %>
