<body>
  <div class="row">
    <div class="medium-3 columns" id="side-nav-blue">
      <ul class="side-nav">
        <li><%= link_to "Most Likes", posts_path(:most_likes => true) %></li>
        <li><%= link_to "Recent Posts", posts_path(:most_recent => true) %></li>
        <hr>
        <% Tag.all.each do |tag| %>
          <li><%= link_to tag.title, post_path(tag.id) %></li>
        <% end %>
      </ul>
    </div>


    <% if notice %>
      <div data-alert class="alert-box">
          <div class="alert-text">
            <%= notice %>
          </div>
      </div>
    <% end %>

  <div class="medium-9 columns">

    <br>
    <br>
    <ul class="button-group">
      <li><%= link_to 'New Post', new_post_path, class: "button small" %></li>
    </ul>
    <hr>
    <% @posts.each do |post| %>
      <ul>

        <ul class="like-list">
        <div class="likes">
          <% if user_liked(post) %>
              <%= link_to '<i class="fi-like size-36"></i>'.html_safe, post_like_path(post) %>
          <% else %>
          <i class="fi-like size-36" id="gray-liked"></i>
          <% end %>
        </div>

        <div class="likeh">
          <h6><%= post.likes.size %></h6>
        </div>

      </ul>
        <div class="head">
          <h4><%= post.title %></h4>
        </div>

        <div class="time">
          - <%= post.timestamp_field.strftime("%d/%m/%y") %>
        </div>

        <div class="posted-by">
          <i class="fi-torso-business size-24"></i>  <%= User.find(post.user_id).username %>
        </div>

        <% if post.url != '' && post.code != '' %>
          <p><a href=<%= post.url %> target="_blank" ><%= post.url %></a><p>
          <div class="titles">Code:</div>
          <div class="panel code"><p><%= Redcarpet::Render::SmartyPants.render(post.code).html_safe %></p></div>
        <% elsif post.url != '' %>
          <p><a href=<%= post.url %> target="_blank" ><%= post.url %></a></p>
        <% else %>
          <div class="titles">Code:</div>
          <div class="panel code"> <p><%= Redcarpet::Render::SmartyPants.render(post.code).html_safe %></p> </div>
        <% end %>
        <div class="titles">Description:</div>
        <div class="panel code"><p><%= simple_format(post.description) %></p></div>
      </ul>

          <div class="tags">

            <ul>
              <div class="titles">Tags:</div>

              <!-- <li class="tag-icon" style="margin: 10px 0 0 0;"><i class="fi-pricetag-multiple size-24"></i></li> -->
              <% post.tags.each do |tag| %>
              <li class="tag"></i><%= tag.title %></li>
            <% end %>
            </ul>
          </div>
          <br>

        <% if @current_user.admin || @current_user.posts.find_by_user_id(post.user_id) || @current_user.monitor %>
          <div class="edit">
            <div class="text-right">
              <div class="button small success">
                <%= link_to 'Edit Post', edit_post_path(post) %>
              </div>
              <div class="button small alert">
                <%= link_to 'Delete Post', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
              </div>
            </div>
          </div>
        <% end %>
      <hr>
    <% end %>
  </div>
</div>
